.jumbotron {
    text-align: center;
    width: 80%;
    display: block;
    margin: 0 auto;
}

.timer {
    position: fixed;
    background: black;
    color: floralwhite;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    left: 10px;
    display: none;
}

.question {
    text-align: center;
    background: grey;
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.answer {
    display: block;
    width: 70%;
    margin: 0 auto;
    background: aquamarine;
    padding: 10px;
}